# KRX Data Marketplace OPEN API
KRX_AUTH_KEY=
KRX_API_BASE_URL=

# FRED(연준) API
FRED_API_KEY=
FRED_API_BASE_URL=

# 한국투자증권 KIS Developers
# 실전투자면 KIS_ENV=real 모의투자면 KIS_ENV=vts
KIS_APP_KEY=
KIS_APP_SECRET=
KIS_API_BASE_URL=
KIS_ENV=real